<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.2/dist/css/bootstrap.min.css">
    <script src="webjars/jquery/3.5.1/dist/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.5.2/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OndoPay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" >
                <a class="nav-link" href="/products">Products<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('app-manager')">
                <a class="nav-link" href="/suppliers">Fournisseurs</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"  sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span sec:authentication="name"> </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <a class="dropdown-item" href="/changePassword">Change password</a>
                </div>
            </li>

            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/sso/login">Login</a>
            </li>
        </ul>

    </div>
</nav>
<div layout:fragment="content">

</div>
</body>
</html>